*{
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    list-style-type: none; 
}
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
body{
    background:#47baea;
    color:black;
}
article{position: relative;}
.words{
    position: absolute;
    top:130px;
    margin:0 auto;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
}
.word{
    width: 300px;
    height: 400px;
    position: relative;
    top:90px;
    margin:0 auto;
    color:white;
    background-image: linear-gradient(to bottom right, rgb(94, 177, 245), rgb(255, 115, 213));
    border-radius: 15px;
    border:1px solid white;
}
#ezberlenecek,#ezberlendi{
    height: 100%;
    position: relative;
}
#ezberlenecek li,#ezberlendi li{
    width:300px;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    float: left;
    position: absolute;
    opacity: 0;
    display: none;
    transition: all .3s ease-in-out;
}
.goster{
    opacity: 1 !important;
    display: inline-block !important;
}
img{width: 100%}
img{
    position: absolute;
    top: -90px;
    left:50px;
    width: 200px;
    height: 200px;
    border-radius:50%;
}
.words{
    width: 90%;
    min-height: 40px;
    text-align: center;
    padding-top:5px;
    box-sizing: border-box;
    position: relative;
    margin:0 auto;
    
}
.kelime{
    text-transform: capitalize;
}
.kelime span{
    position: relative;
    top:-1px;
    color: rgb(224, 224, 224);
    font-size: 16px;
    letter-spacing:1px;
}
.anlamı{
    color:rgb(36, 36, 36);
    font-weight: 600;
    text-transform: capitalize;
    
}
#prev,#next,#geri,#ileri{
    position: absolute;
    top: 35%;
    padding-top:3px;
    font-size:20px;
    width: 20px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    color:white;
    box-sizing: border-box;
}
#prev,#geri{
    left: -12px;
    background:#b290e4;
}

#prev::before,#geri::before{
    content: '';
    border: 8px solid rgba(255, 0, 0, 0);
    border-left: 8px solid #b290e4;
    position: absolute;
    top: -7px;
    transform: rotate(45deg);
}
#next,#ileri{
    right:-12px;
    background: #b290e4;
}
#next::before,#ileri::before{
    content: '';
    border: 8px solid rgba(255, 0, 0, 0);
    border-right: 8px solid #b290e4;
    position: absolute;
    top:-7px;
    right:3.5px;
    transform: rotate(-45deg);
}

.ezber,.ezberlediklerim{
    width: 100%;
    height: 100vh;
}
.baslik{
    width: 100%;
    padding:5px 0;
    text-align:center;
    font-size: 24px;
    font-weight: 600;
    color:white;
    font-family: 'Shadows Into Light', cursive;
}

.work,.bitmis{
    margin-left: 30%;
    font-weight: bold;
    display: inline-block;
}
.bitmis{
    margin-left: 5%;
}